/**
 This is the CSS for Levertine Gallery (LTR)
**/

:root {
	--shadow-color: rgba(158,158,158,.38);
	--shadow-elevation-low: 0.3px 0.5px 0.7px var(--shadow-color),
	0.4px 0.8px 1px -1.2px var(--shadow-color),
	1px 2px 2.5px -2.5px var(--shadow-color);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px var(--shadow-color),
	0.8px 1.6px 2px -0.8px var(--shadow-color),
	2.1px 4.1px 5.2px -1.7px var(--shadow-color),
	5px 10px 12.6px -2.5px var(--shadow-color);
	--shadow-elevation-high: 0.3px 0.5px 0.7px var(--shadow-color),
	1.5px 2.9px 3.7px -0.4px var(--shadow-color),
	2.7px 5.4px 6.8px -0.7px var(--shadow-color),
	4.5px 8.9px 11.2px -1.1px var(--shadow-color),
	7.1px 14.3px 18px -1.4px var(--shadow-color),
	11.2px 22.3px 28.1px -1.8px var(--shadow-color),
	17px 33.9px 42.7px -2.1px var(--shadow-color),
	25px 50px 62.9px -2.5px var(--shadow-color);
}

#gallery_contain {
	font-size: 1em;
}

.stats {
	box-sizing: border-box;
}

#levgal_tabs {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 215px 2px 0;
	gap: 4px;
	justify-content: flex-end;
}

#album_sidebar {
	float: right;
	width: 200px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
}

#album_sidebar > .content {
	margin-bottom: 5px;
	box-shadow: var(--shadow-elevation-low);
}

#album_sidebar .album_owner {
	height: 45px;
	margin-bottom: 10px;
}

.album_details {
	overflow: auto;
	max-height: 50em;
	display: flex;
	flex-direction: column;
}

.user_avatar {
	float: left;
	margin: 0 10px 0 0;
}

.user_avatar, .comment_avatar {
	width: 45px;
	height: 45px;
}

.user_avatar img.avatar, .comment_avatar img.avatar {
	max-width: 45px;
	max-height: 45px;
}

#album_sidebar .user {
	float: left;
	width: auto;
	min-width: 51%;
	height: auto;
	margin-top: 3px;
}

.posted_by {
	font-weight: bold;
}

dl.album_details dt, dl.album_info dt {
	font-weight: bold;
}

dl.album_info dt {
	float: left;
	width: 75%;
}

dl.album_details dd, dl.album_info dd {
	margin-bottom: 10px;
	margin-left: 2px;
}

.secondary_header {
	font-size: 1.214em;
	line-height: 1.8em;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 0;
	padding: 4px 10px 2px 10px;
	border-top-color: #CFCFCF;
	border-bottom-color: #BBBBBB;
	border-radius: 2px 2px 0 0;
	background: #EBEBEB linear-gradient(to bottom, #FAFAFA, #E4E4E4);
}

#item_main {
	padding-right: 215px; /* width of #album_sidebar + padding */
}

#item_picture_container {
	text-align: center;
}

#item_picture, #item_audio_container, #item_generic {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.has_lightbox {
	cursor: zoom-in;
}

#item_desc {
	margin: 25px 15px 5px 15px;
}

#lgal_cf_desc {
	clear: none;
	margin-top: 2em;
	margin-bottom: 0;
	padding-top: 1em;
	border-top: 1px solid lightgray;
}

.item_likes, .item_tags {
	margin-bottom: 2px;
}

.item_link {
	margin-top: -28px;
}

.item_link > a > i.icon-big {
	line-height: 1em;
	width: 1em;
	height: 1em;
	padding: 1px;
	opacity: 0.7;
	border-radius: 50%;
	background: #FEFEFE;
}

.item_image {
	display: inline-block;
	margin: 0 .5em 5px .5em;
	vertical-align: bottom;
}

.album_container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 5px;
	margin: 3px 0 10px 0;
}

.album_entry {
	display: inline-block;
	margin: 0 2px 10px 2px;
}

.album_container > .well {
	min-width: 25%;
}

.album_entry > .well, .album_container > .well, .album_featured.well {
	box-shadow: var(--shadow-elevation-low);
}

.album_entry > .well:hover, .album_featured.well:hover {
	transition: .3s ease;
	transform: translate(0, -2px);
	box-shadow: var(--shadow-elevation-medium);
}

.album_container > .album_featured {
	overflow: auto;
	width: 30%;
	min-height: 100px;
	max-height: 135px;
}

.album_thumb {
	width: 65px;
	height: auto;
	margin: 0 10px;
}

.generic_thumb {
	width: 120px;
	height: auto;
}

.album_featured .album_desc {
	margin-top: 5px;
}

.album_hierarchy, .album_hierarchy ul {
	list-style: none;
}

ul.album_hierarchy, ul.album_hierarchy ul {
	padding: 0 0 0 40px;
}

.album_hierarchy.level_0 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.album_hierarchy > .ui-sortable-handle {
	cursor: move;
}

.album_hierarchy > .ui-sortable-handle a {
	cursor: pointer;
}

.lgal_profile_itemname {
	margin: 0 10px;
	font-weight: bold;
}

.album_container > .album_featured_compact {
	width: 33%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.album_featured_compact .secondary_header, .album_featured_compact .content {
	width: 100%;
	padding: 4px 2px;
}

.album_featured_compact .content {
	height: 200px;
}

.album_featured_compact .secondary_header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.album_hierarchy_compact {
	line-height: 1.25em;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

li.album_hierarchy_compact ul {
	padding: 0 0 0 20px;
}

.album_hierarchy_compact .lgal_profile_itemname {
	display: inline-block;
	overflow: hidden;
	max-width: 70%;
	margin: 0 5px;
	text-overflow: ellipsis;
}

.level_1 > .album_hierarchy_compact .lgal_profile_itemname {
	max-width: 65%;
}

.level_2 > .album_hierarchy_compact .lgal_profile_itemname {
	max-width: 60%;
}

.album_hierarchy_compact .lgal_profile_itemnum {
	float: right;
}

.sortable_error {
	background: #FBE3E4;
}

.well > p:not(.errorbox) {
	padding: 0;
}

.sortable_album_thumb {
	display: block;
	margin: 0 auto;
}

.sortable_album_thumb > img {
	width: 50px;
	max-width: 50px;
}

.placeholder {
	outline: 1px dashed #4183C4;
}

.album_thumb img {
	display: block;
	max-width: 65px;
	max-height: 65px;
	margin: 0 auto;
}

.thumb_name {
	font-size: 0.9em;
	overflow: hidden;
	width: 125px;
	margin-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumb_container {
	width: 125px;
	text-align: center;
}

.thumb_container a {
	display: block;
	height: 125px;
}

.thumb_container img {
	position: relative;
	top: 50%;
	display: block;
	max-width: 125px;
	max-height: 125px;
	margin: 0 auto;
	transform: translateY(-50%);
}

.album_thumbnail {
	text-align: center;
}

.album_thumbnail img {
	width: 125px;
	height: auto;
}

.comment {
	display: table;
	width: 100%;
}

.comment .centertext {
	margin-bottom: 10px;
}

.comment_info {
	display: table-cell;
	overflow: hidden;
	width: 125px;
	margin-right: 10px;
	vertical-align: top;
}

.comment_body {
	display: table-cell;
	width: 90%;
	vertical-align: top;
}

.report_body, .mod_comment {
	width: 80%;
	height: 150px;
	padding: 5px;
}

.mod_comment {
	width: 100%;
	height: 50px;
}

.comment_time {
	font-size: 0.8em;
	margin-bottom: 3px;
	border-bottom: 1px solid #CCCCCC;
}

#thumbs_container {
	width: 80px;
	height: auto;
}

#thumbs_container img {
	max-width: 65px;
	max-height: 65px;
	margin: 0 10px;
}

#upload_thumbnail {
	margin: 0 2%;
}

#smileyBox_lgal_commentbox {
	margin: 0.5em;
}

#bbcBox_lgal_commentbox {
	padding: 0.75em 0.25em;
}

#bbcBox_lgal_commentbox div img {
	margin: 0 1px 0 0;
	vertical-align: top;
}

#bbcBox_lgal_commentbox select {
	margin: 0 2px;
}

#bbcBox_lgal_commentbox div {
	margin: 0.2em 0;
	vertical-align: top;
}

.album_family {
	padding-top: 8px;
	column-count: 3;
}

.album_current {
	padding-left: 1em;
	column-span: all;
}

.album_child {
	padding-left: 2em;
}

/* Action buttons */
ul.lgalactions {
	font: bold 0.85em arial, sans-serif;
	float: right;
	clear: right;
	margin: 0.9em 11px 0 0;
	text-align: right;
}

ul.lgalactions li {
	display: inline-block;
	margin: 0 0 0 11px;
}

ul.lgalactions li a {
	line-height: 18px;
	display: inline-block;
	height: 20px;
}

#privacy_custom > label > img, #configure_owner_group > label > img, .ownership_group > dd > label > img {
	margin: 0;
}

.sidebar_actions {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar_actions li {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}

.sidebar_actions li .lgalicon {
	margin: 0 5px -2px 5px;
}

.lgal_share input {
	display: inline-block;
	width: 125px;
	margin-right: -1px;
}

.lgal_share span.i-clipboard {
	margin: 0 0 -1px 0;
	cursor: pointer;
}

#browse_button {
	float: none;
	margin-right: 0;
	margin-left: 0;
}

#upload_container {
	min-height: 220px;
}

#upload_type_file {
	position: absolute;
	overflow: visible;
	width: 45%;
	min-height: 20px;
}

#progressbar, #total_progressbar {
	display: none;
	float: left;
	width: 200px;
	margin-top: 6px;
	border-color: transparent;
}

#progresspc, #total_progresspc {
	display: none;
	float: left;
	margin-top: 6px;
}

td.status #progressbar {
	width: 180px;
}

td.status #progressbar, td.status #progresspc, #total_progressbar, #total_progresspc {
	display: block;
	margin-top: 0;
}

#dragdroptarget {
	height: 100px;
	border: 1px dashed lightgrey;
}

#file_queue th {
	white-space: pre;
}

#file_queue tr.content td {
	height: 20px;
}

/* Audio/video player */
#lgal_audio_player, #lgal_video_player {
	display: block;
	margin: 10px auto;
	max-width: 90%;
}

/* Delete page */
.delete_desc, .delete_ays {
	margin: 1em 10%;
}

/* Move page */
.move_desc, .move_button {
	margin: 1em 10%;
}

.move_desc select {
	margin: 0 10px;
}

/* Moderation area */
.mod_report_thumbnail {
	width: 150px;
	text-align: center;
}

.mod_report_thumbnail img {
	max-width: 125px;
	max-height: 125px;
}

/* Search area */
#member_container div {
	float: left;
	margin: 2px 10px;
}

#member_container div a {
	font-weight: normal;
}

/* SVG icons */
.lgalicon {
	line-height: 1.25em;
	display: inline-block;
	width: 1.15em;
	height: auto;
	margin: 0 0.25em 0 .45em;
	vertical-align: middle;
	filter: invert(38%) sepia(1%) saturate(2044%) hue-rotate(354deg) brightness(87%) contrast(85%);
}

.lgalicon.i-unapproved {
	margin-right: 5px;
	margin-left: 5px;
}

.lgalprofile_summary .lgalicon.i-unapproved {
	margin: 0;
}

/* Mimic table appearance for dropzone areas */
.dz-table {
	display: table;
	width: 100%;
}

.dz-table .file-row {
	display: table-row;
}

.file-row.dz-image-preview img {
	max-width: 60px;
}

.dz-table .file-row:first-child > div {
	border-top: 1px solid #DDDDDD;
}

.dz-table .file-row > div {
	display: table-cell;
	padding: 8px;
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}

.file-row .dz-remove {
	width: 150px;
	text-align: right;
	vertical-align: middle !important;
}

.file-row .dz-size {
	width: 40%;
}

.file-row .dz-thumb {
	max-width: 80px;
}

#dz-name {
	width: 60%;
}

/* The total progress gets shown by event listeners */
#total-progress {
	transition: opacity 0.3s linear;
	opacity: 0;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
	transition: opacity 0.3s linear;
	opacity: 0;
}

.begin_button {
	margin: 5px 3%;
}

.progress {
	overflow: hidden;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #EBEBEB 0, #F5F5F5 100%);
	background-repeat: repeat-x;
	box-shadow: var(--shadow-elevation-low);
}

.progress-bar-success {
	background-image: linear-gradient(to bottom, #5CB85C 0, #449D44 100%);
	background-repeat: repeat-x;
}

.progress-bar {
	font-size: 1em;
	line-height: 30px;
	float: left;
	width: 0;
	height: 100%;
	transition: width .6s ease;
	text-align: center;
	color: #FFFFFF;
	background-color: #428BCA;
	background-image: linear-gradient(to bottom, #428BCA 0, #3071A9 100%);
	background-repeat: repeat-x;
	box-shadow: var(--shadow-elevation-low);
}

/** Video iframe embeds */
.base_iframe {
	display: block;
	width: 480px;
	height: 270px;
	margin: 0 auto;
	border: none;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

/* Use these to change colors of SVG icons when starting from fill #000000 */
.colorize-blue {
	filter: invert(20%) sepia(68%) saturate(7230%) hue-rotate(200deg) brightness(89%) contrast(102%);
}

.colorize-gold {
	filter: invert(84%) sepia(30%) saturate(7466%) hue-rotate(10deg) brightness(115%) contrast(111%);
}

.colorize-yellow {
	filter: invert(92%) sepia(37%) saturate(7500%) hue-rotate(355deg) brightness(104%) contrast(104%);
}

.colorize-orange {
	filter: invert(45%) sepia(95%) saturate(3147%) hue-rotate(6deg) brightness(96%) contrast(101%);
}

.colorize-light-orange {
	filter: invert(95%) sepia(40%) saturate(863%) hue-rotate(320deg) brightness(97%) contrast(95%);
}

.colorize-dark-yellow {
	filter: invert(40%) sepia(59%) saturate(3071%) hue-rotate(38deg) brightness(92%) contrast(101%);
}

.colorize-red {
	filter: invert(21%) sepia(71%) saturate(7474%) hue-rotate(355deg) brightness(100%) contrast(102%);
}

.colorize-green {
	filter: invert(47%) sepia(97%) saturate(3399%) hue-rotate(92deg) brightness(101%) contrast(104%);
}

.i-rss {
	width: 16px;
	filter: none;
}

/** SVG icons, some of these are copies from the core but with differed names, tad lazy yes */
.i-bookmark::before, .i-unbookmark::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='black' stroke-width='2px' fill='none' viewBox='0 3 32 30'%3E%3Cpath d='M6.765 18.015 4.5 15.75v-9A2.244 2.244 0 0 1 6.75 4.5h9l15.054 15.054c.881.881.886 2.307.008 3.184l-8.074 8.074a2.253 2.253 0 0 1-3.184-.008l-2.693-2.693A7.313 7.313 0 0 0 6.766 18.015zm3.923-5.64a1.688 1.688 0 1 0 0-3.377 1.688 1.688 0 0 0 0 3.377zm0 18a6.188 6.188 0 1 0 0-12.376 6.188 6.188 0 0 0 0 12.376zm-.563-3.102-2.648-2.648.824-.824 1.824 1.824 3.511-3.511.824.824-4.335 4.335z'/%3E%3C/svg%3E");
}

.i-sitealbums::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 91 91'%3E%3Cpath fill='%23454B53' d='M77.613 59.769a2.513 2.513 0 0 1-2.513-2.513V43.544H15.964v13.712a2.513 2.513 0 1 1-5.026 0V41.031a2.513 2.513 0 0 1 2.513-2.513h64.162a2.513 2.513 0 0 1 2.513 2.513v16.225a2.513 2.513 0 0 1-2.513 2.513z'/%3E%3Cpath fill='%23454B53' d='M45.533 59.769a2.513 2.513 0 0 1-2.513-2.513V30.378a2.513 2.513 0 1 1 5.026 0v26.878a2.513 2.513 0 0 1-2.513 2.513z'/%3E%3Cpath fill='%23E0E0E0' d='M23.893 67.697c0 5.766-4.674 10.442-10.443 10.442-5.765 0-10.438-4.677-10.438-10.442 0-5.765 4.673-10.441 10.438-10.441 5.769 0 10.443 4.677 10.443 10.441z'/%3E%3Cpath fill='%23454B53' d='M13.449 80.652C6.308 80.652.498 74.84.498 67.697s5.811-12.954 12.951-12.954c7.145 0 12.957 5.812 12.957 12.954 0 7.144-5.812 12.955-12.957 12.955zm0-20.883c-4.37 0-7.926 3.557-7.926 7.929s3.556 7.93 7.926 7.93c4.373 0 7.932-3.558 7.932-7.93s-3.559-7.929-7.932-7.929z'/%3E%3Cpath fill='%23E0E0E0' d='M55.857 67.697c0 5.766-4.671 10.442-10.441 10.442-5.767 0-10.439-4.677-10.439-10.442 0-5.765 4.673-10.441 10.439-10.441 5.771 0 10.441 4.677 10.441 10.441z'/%3E%3Cpath fill='%23454B53' d='M45.416 80.652c-7.142 0-12.951-5.812-12.951-12.955s5.81-12.954 12.951-12.954c7.143 0 12.955 5.812 12.955 12.954 0 7.144-5.812 12.955-12.955 12.955zm0-20.883c-4.371 0-7.926 3.557-7.926 7.929s3.555 7.93 7.926 7.93c4.372 0 7.93-3.558 7.93-7.93s-3.558-7.929-7.93-7.929z'/%3E%3Ccircle cx='77.613' cy='67.697' r='10.441' fill='%23E0E0E0'/%3E%3Cpath fill='%23454B53' d='M77.611 80.652c-7.143 0-12.953-5.812-12.953-12.955s5.811-12.954 12.953-12.954 12.955 5.812 12.955 12.954c0 7.144-5.812 12.955-12.955 12.955zm0-20.883c-4.371 0-7.928 3.557-7.928 7.929s3.557 7.93 7.928 7.93c4.373 0 7.93-3.558 7.93-7.93s-3.557-7.929-7.93-7.929z'/%3E%3Cpath fill='%23F4767A' d='M32.104 11.479h26.625v18.896H32.104z'/%3E%3Cpath fill='%23454B53' d='M58.729 32.889H32.104a2.513 2.513 0 0 1-2.513-2.513V11.479a2.513 2.513 0 0 1 2.513-2.513h26.625a2.513 2.513 0 0 1 2.513 2.513v18.896a2.513 2.513 0 0 1-2.513 2.514zm-24.112-5.026h21.6V13.992h-21.6v13.871z'/%3E%3C/svg%3E");
}

.i-memberalbums::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 91 91'%3E%3Cpath fill='%23454B53' d='M58.633 80.405H42.377a2.513 2.513 0 0 1-2.512-2.513V13.605a2.513 2.513 0 0 1 2.512-2.513h16.256a2.513 2.513 0 1 1 0 5.026H44.891V75.38h13.742a2.513 2.513 0 1 1 0 5.025z'/%3E%3Cpath fill='%23454B53' d='M58.633 48.262h-26.93a2.513 2.513 0 1 1 0-5.026h26.93a2.513 2.513 0 1 1 0 5.026z'/%3E%3Cpath fill='%23E0F1F8' d='M69.096 67.433c5.779 0 10.465 4.685 10.465 10.464s-4.686 10.46-10.465 10.46c-5.776 0-10.465-4.681-10.465-10.46s4.688-10.464 10.465-10.464z'/%3E%3Cpath fill='%23454B53' d='M69.096 90.869c-7.155 0-12.977-5.819-12.977-12.973 0-7.155 5.821-12.977 12.977-12.977 7.156 0 12.978 5.821 12.978 12.977-.001 7.154-5.822 12.973-12.978 12.973zm0-20.924c-4.385 0-7.951 3.566-7.951 7.951 0 4.382 3.566 7.947 7.951 7.947s7.952-3.565 7.952-7.947c0-4.384-3.568-7.951-7.952-7.951z'/%3E%3Cpath fill='%23E0F1F8' d='M69.096 35.403c5.779 0 10.465 4.683 10.465 10.464 0 5.778-4.686 10.457-10.465 10.457-5.776 0-10.465-4.679-10.465-10.457 0-5.781 4.688-10.464 10.465-10.464z'/%3E%3Cpath fill='%23454B53' d='M69.096 58.837c-7.155 0-12.977-5.818-12.977-12.97 0-7.155 5.821-12.977 12.977-12.977 7.156 0 12.978 5.821 12.978 12.977-.001 7.152-5.822 12.97-12.978 12.97zm0-20.921c-4.385 0-7.951 3.566-7.951 7.951 0 4.381 3.566 7.944 7.951 7.944s7.952-3.563 7.952-7.944c0-4.385-3.568-7.951-7.952-7.951z'/%3E%3Cpath fill='%23E0F1F8' d='M69.096 3.143c5.779 0 10.465 4.684 10.465 10.466 0 5.775-4.686 10.459-10.465 10.459-5.776 0-10.465-4.684-10.465-10.459 0-5.783 4.688-10.466 10.465-10.466z'/%3E%3Cpath fill='%23454B53' d='M69.096 26.58c-7.155 0-12.977-5.819-12.977-12.972C56.119 6.452 61.94.629 69.096.629c7.156 0 12.978 5.822 12.978 12.979-.001 7.153-5.822 12.972-12.978 12.972zm0-20.925c-4.385 0-7.951 3.567-7.951 7.953 0 4.382 3.566 7.946 7.951 7.946s7.952-3.564 7.952-7.946c0-4.385-3.568-7.953-7.952-7.953z'/%3E%3Cpath fill='%239ABFDA' d='M10.162 32.527h21.541v26.672H10.162z'/%3E%3Cpath fill='%23454B53' d='M31.703 61.712H10.162a2.513 2.513 0 0 1-2.512-2.513V32.527a2.513 2.513 0 0 1 2.512-2.513h21.541a2.513 2.513 0 0 1 2.512 2.513v26.672a2.513 2.513 0 0 1-2.512 2.513zm-19.027-5.025H29.19V35.04H12.676v21.647z'/%3E%3C/svg%3E");
}

.i-groupalbums::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 91 91'%3E%3Cpath fill='%23647F94' d='M59.02 79.74H44.482a2.503 2.503 0 0 1-2.506-2.504V13.141a2.506 2.506 0 0 1 2.506-2.506H59.02a2.506 2.506 0 0 1 0 5.01H46.986V74.73H59.02a2.506 2.506 0 0 1 0 5.01z'/%3E%3Cpath fill='%23647F94' d='M59.02 47.693H32.17a2.505 2.505 0 1 1 0-5.01h26.85a2.505 2.505 0 1 1 0 5.01z'/%3E%3Cg fill='%2345596B'%3E%3Cpath d='M69.451 65.137c-6.676 0-12.105 5.43-12.105 12.102s5.43 12.1 12.105 12.1c6.674 0 12.104-5.428 12.104-12.1s-5.43-12.102-12.104-12.102zM69.451 33.203c-6.676 0-12.105 5.428-12.105 12.102 0 6.67 5.43 12.098 12.105 12.098 6.674 0 12.104-5.428 12.104-12.098 0-6.674-5.43-12.102-12.104-12.102zM69.451 25.24c6.674 0 12.104-5.428 12.104-12.098 0-6.674-5.43-12.104-12.104-12.104-6.676 0-12.105 5.43-12.105 12.104 0 6.671 5.429 12.098 12.105 12.098z'/%3E%3C/g%3E%3Cpath fill='%236EC4A7' d='M32.169 29.5H10.693a2.506 2.506 0 0 0-2.504 2.506v26.592a2.506 2.506 0 0 0 2.504 2.506H32.17a2.506 2.506 0 0 0 2.504-2.506V32.006a2.507 2.507 0 0 0-2.505-2.506z'/%3E%3C/svg%3E");
}

.i-books::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 41 36'%3E%3Cpath fill='%23000000' d='M7.875 4.5h-6.75C.506 4.5 0 5.006 0 5.625v24.75c0 .619.506 1.125 1.125 1.125h6.75C8.494 31.5 9 30.994 9 30.375V5.625C9 5.006 8.494 4.5 7.875 4.5zM6.75 11.25h-4.5V9h4.5v2.25zM19.125 4.5h-6.75c-.619 0-1.125.506-1.125 1.125v24.75c0 .619.506 1.125 1.125 1.125h6.75c.619 0 1.125-.506 1.125-1.125V5.625c0-.619-.506-1.125-1.125-1.125zM18 11.25h-4.5V9H18v2.25z'/%3E%3Cpath d='M26.898 6.24L20.87 9.277a1.127 1.127 0 00-.498 1.511l10.124 20.093c.278.553.958.777 1.511.498l6.028-3.037c.553-.278.777-.958.498-1.511L28.409 6.737a1.128 1.128 0 00-1.511-.499z'/%3E%3C/svg%3E");
}

.i-setthumbnail::before, .i-myalbums::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffc107' d='M375.299 49.019V345.72h101.797c11.211-27.726 17.508-57.955 17.508-89.72 0-88.489-48.053-165.586-119.305-206.981zm0 0'/%3E%3Cpath fill='%23f84437' d='M345.475 34.304c-27.65-11.241-57.801-17.553-89.473-17.553-28.754 0-56.189 5.352-81.724 14.713L345.475 191.67V34.304zm0 0'/%3E%3Cpath fill='%235acf5f' d='M166.526 477.695c27.648 11.239 57.802 17.555 89.476 17.555 88.25 0 165.139-48.183 206.418-119.629H166.526v102.074zm0 0'/%3E%3Cpath fill='%23b82ed0' d='M144.513 44.533C68.936 84.701 17.397 164.279 17.397 256c0 21.086 2.981 41.446 8.114 60.914L226.887 121.6l-82.374-77.067zm0 0'/%3E%3Cpath fill='%232299f8' d='M136.699 462.977V250.708l-100.81 97.764c20.25 48.323 55.955 88.457 100.81 114.505zm0 0'/%3E%3C/svg%3E");
}

.i-picture::before, .i-additem::before, .i-addbulk::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23555555' d='M29.25 31.5H6.75V27l6.75-11.25L22.746 27l6.504-4.5v9zM29.25 16.875a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0z'/%3E%3Cpath fill='%23555555' d='M32.267 8.053c-.781-1.065-1.869-2.31-3.065-3.505s-2.44-2.284-3.505-3.065C23.884.153 23.004 0 22.5 0H5.062A2.815 2.815 0 002.25 2.813v30.375a2.816 2.816 0 002.812 2.813h25.875a2.816 2.816 0 002.813-2.813V11.25c0-.504-.154-1.383-1.483-3.197zm-4.656-1.914A30.658 30.658 0 0130.163 9h-5.412V3.588a30.628 30.628 0 012.861 2.551zM31.5 33.188a.57.57 0 01-.563.563H5.062a.57.57 0 01-.563-.563V2.813a.57.57 0 01.563-.563H22.5v7.875c0 .621.504 1.125 1.125 1.125H31.5v21.938z'/%3E%3C/svg%3E");
}

.i-folder-minus::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000000' d='M20.25 9l-4.5-4.5H0v29.25h36V9H20.25zm4.5 15.75h-13.5v-4.5h13.5v4.5z'/%3E%3C/svg%3E");
}

.i-folder-plus::before, .i-addalbum::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000000' d='M20.25 9l-4.5-4.5H0v29.25h36V9H20.25zm4.5 15.75h-4.5v4.5h-4.5v-4.5h-4.5v-4.5h4.5v-4.5h4.5v4.5h4.5v4.5z'/%3E%3C/svg%3E");
}

.i-tag::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000000' d='M34.313 0h-13.5c-.928 0-2.224.537-2.881 1.193L1.194 17.931a1.692 1.692 0 000 2.386l14.489 14.489c.656.656 1.73.656 2.386 0l16.739-16.739c.656-.656 1.193-1.953 1.193-2.881v-13.5c0-.928-.759-1.688-1.688-1.688zm-8.438 13.5a3.375 3.375 0 110-6.75 3.375 3.375 0 010 6.75z'/%3E%3C/svg%3E");
}

.i-stacks::before, .i-album::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000000' d='M36 11.25l-18-9-18 9 18 9 18-9zM18 5.237l12.025 6.013L18 17.263 5.975 11.25 18 5.237zm14.395 10.96L36 18l-18 9-18-9 3.605-1.803L18 23.394zm0 6.75L36 24.75l-18 9-18-9 3.605-1.803L18 30.144z'/%3E%3C/svg%3E");
}

.i-star::before, .i-feature_album::before, .i-new::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000000' d='M36 13.959l-12.438-1.807L18 .882l-5.562 11.27L0 13.959l9 8.773-2.125 12.387L18 29.27l11.125 5.849L27 22.732l9-8.773z'/%3E%3C/svg%3E");
}

.i-stats::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M14 18V4C6.268 4 0 10.268 0 18s6.268 14 14 14 14-6.268 14-14c0-2.25-.532-4.378-1.476-6.262L14 18zM28.524 7.738C26.224 3.15 21.48 0 16 0v14l12.524-6.262z'/%3E%3C/svg%3E");
}

.i-moderate::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M29.18 19.07c-1.678-2.908-.668-6.634 2.256-8.328L28.29 5.295c-.897.527-1.942.83-3.057.83-3.36 0-6.085-2.743-6.085-6.126h-6.29c.01 1.04-.25 2.1-.81 3.07-1.68 2.903-5.41 3.892-8.34 2.21L.566 10.723c.905.515 1.69 1.268 2.246 2.234 1.677 2.904.673 6.624-2.24 8.32l3.145 5.447c.895-.522 1.935-.82 3.044-.82 3.35 0 6.07 2.725 6.087 6.092h6.29c-.004-1.036.258-2.08.81-3.04 1.676-2.903 5.4-3.894 8.325-2.22l3.145-5.446c-.9-.514-1.678-1.265-2.232-2.225zM16 22.48c-3.578 0-6.48-2.902-6.48-6.48S12.423 9.52 16 9.52c3.578 0 6.48 2.902 6.48 6.48s-2.902 6.48-6.48 6.48z'/%3E%3C/svg%3E");
}

.i-alb_child, .i-browse::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M24 20v-4H14v-4h10V8l6 6zm-2-2v8H12v6L0 26V0h22v10h-2V2H4l8 4v18h8v-6z'/%3E%3C/svg%3E");
}

.i-alb_parent {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 36 36'%3E%3Cpath d='M0 18c0 9.941 8.059 18 18 18s18-8.059 18-18S27.941 0 18 0 0 8.059 0 18zm32.625 0c0 8.077-6.548 14.625-14.625 14.625S3.375 26.077 3.375 18 9.923 3.375 18 3.375 32.625 9.923 32.625 18z'/%3E%3Cpath d='M24.846 23.529l3.182-3.182-10.029-10.028L7.971 20.348l3.182 3.182L18 16.684z'/%3E%3C/svg%3E");
}

.i-notify::before, .i-unnotify::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M32 12.68v14.178q0 1.18-.84 2.018t-2.017.84H2.857q-1.18 0-2.018-.84T0 26.858v-14.18q.786.876 1.804 1.555 6.464 4.393 8.875 6.16 1.013.75 1.65 1.17t1.69.858 1.96.44h.035q.91 0 1.963-.44t1.69-.852 1.65-1.17q3.037-2.196 8.894-6.16 1.02-.697 1.786-1.557zm0-5.25q0 1.41-.875 2.695t-2.18 2.196l-8.355 5.81q-.18.125-.76.545t-.967.68-.93.58-1.026.48-.894.163h-.036q-.41 0-.892-.16t-1.027-.483-.928-.58-.964-.68-.76-.545q-1.625-1.143-4.68-3.26T3.07 12.32q-1.11-.75-2.09-2.06t-.982-2.44q0-1.393.74-2.32t2.117-.93H29.14q1.162 0 2.01.84t.848 2.017z'/%3E%3C/svg%3E");
}

.i-markseen::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M32 4h-4V0h-4v4h-4v4h4v4h4V8h4z'/%3E%3Cpath d='M26.996 13.938c.576.64 1.1 1.33 1.563 2.062-1.2 1.89-2.79 3.498-4.67 4.697C21.524 22.204 18.8 23 16 23s-5.527-.796-7.89-2.303c-1.88-1.2-3.47-2.805-4.67-4.697 1.198-1.89 2.79-3.498 4.67-4.697.123-.078.247-.154.372-.228C8.172 11.93 8 12.85 8 13.812c0 4.418 3.582 8 8 8s8-3.582 8-8v-.065c-3.416-.88-5.948-3.957-6-7.635C17.345 6.038 16.677 6 16 6 9.02 6 2.972 10.062 0 16c2.972 5.935 9.02 10 16 10s13.027-4.065 16-10c-.55-1.102-1.21-2.138-1.958-3.096-.915.537-1.946.897-3.046 1.034zM13 10c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z'/%3E%3C/svg%3E");
}

.i-editalbum::before, .i-edititem::before, .i-edit::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M446.029 0 130.498 267.303l-20.33 66.646c-8.624 7.369-19.857 11.39-32.017 11.391-4.776 0-9.583-.622-14.293-1.848l-14.438-3.761L0 512l172.268-49.421-3.759-14.438c-4.454-17.1-.883-34.137 9.54-46.309l66.648-20.331L512 65.971 446.029 0zM136.351 441.068l-61.413 17.618 42.732-42.732-21.625-21.624-42.731 42.732 17.627-61.444c2.401.202 4.807.303 7.21.303 16.215-.001 31.518-4.56 44.35-13.043l26.609 26.609c-9.908 14.923-14.38 32.971-12.759 51.581zm37.626-69.966-33.079-33.078 10.109-33.14 56.109 56.109-33.139 10.109zm61.026-25.47-68.636-68.636 46.828-39.671 61.478 61.478-39.67 46.829zm1.607-128.14L444.314 41.535l26.152 26.152-175.957 207.704-57.899-57.899z'/%3E%3C/svg%3E");
}

.i-deletealbum::before, .i-deleteitem::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M4 10v20c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V10H4zm6 18H8V14h2v14zm4 0h-2V14h2v14zm4 0h-2V14h2v14zm4 0h-2V14h2v14zm4.5-24H20V1.5c0-.82-.68-1.5-1.5-1.5h-7c-.82 0-1.5.68-1.5 1.5V4H3.5C2.68 4 2 4.68 2 5.5V8h26V5.5c0-.82-.68-1.5-1.5-1.5zM18 4h-6V2.02h6V4z'/%3E%3C/svg%3E");
}

.i-flag::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M16 3c-3.472 0-6.737 1.352-9.192 3.808S3 12.528 3 16c0 3.472 1.352 6.737 3.808 9.192S12.528 29 16 29c3.472 0 6.737-1.352 9.192-3.808S29 19.472 29 16c0-3.472-1.352-6.737-3.808-9.192S19.472 3 16 3zm0-3c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm-2 22h4v4h-4zm0-16h4v12h-4z'/%3E%3C/svg%3E");
}

.i-movealbum::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 32 28'%3E%3Cg fill='%234e4e50'%3E%3Ccircle cx='2' cy='2' r='2'/%3E%3Cpath d='M8 0h24v4H8z'/%3E%3Ccircle cx='10' cy='10' r='2'/%3E%3Cpath d='M16 8h16v4H16z'/%3E%3Ccircle cx='10' cy='26' r='2'/%3E%3Cpath d='M16 24h16v4H16z'/%3E%3Ccircle cx='18' cy='18' r='2'/%3E%3Cpath d='M24 16h8v4h-8z'/%3E%3C/g%3E%3C/svg%3E");
}

.i-moveitem::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 32 32'%3E%3Cpath d='M24 20v-4H14v-4h10V8l6 6zm-2-2v8H12v6L0 26V0h22v10h-2V2H4l8 4v18h8v-6z'/%3E%3C/svg%3E");
}

.i-reddit::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF4500' viewBox='0 0 36 36'%3E%3Cpath d='M9 22.5a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zm13.5 0a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zm.109 4.809a1.335 1.335 0 111.653 2.099c-1.614 1.271-4.072 2.093-6.263 2.093s-4.649-.821-6.263-2.093a1.336 1.336 0 011.653-2.099c.929.732 2.768 1.52 4.609 1.52s3.68-.788 4.609-1.52zM36 18a4.5 4.5 0 00-8.432-2.186c-2.313-1.265-5.131-2.083-8.201-2.271l2.685-6.03 5.14 1.484a3.376 3.376 0 10.211-2.72l-5.727-1.653a1.336 1.336 0 00-1.591.74l-3.648 8.192c-2.993.211-5.74 1.02-8.003 2.258a4.5 4.5 0 10-5.748 6.304 8.232 8.232 0 00-.435 2.633c0 6.213 7.051 11.25 15.75 11.25s15.75-5.037 15.75-11.25c0-.907-.151-1.788-.435-2.633a4.5 4.5 0 002.685-4.117zM30.375 6.609a1.266 1.266 0 110 2.532 1.266 1.266 0 010-2.532zM2.25 18a2.252 2.252 0 012.25-2.25c.897 0 1.672.527 2.034 1.288-1.176.892-2.15 1.92-2.871 3.049a2.254 2.254 0 01-1.413-2.088zM18 33.328c-7.223 0-13.078-3.841-13.078-8.578S10.777 16.172 18 16.172c7.223 0 13.078 3.841 13.078 8.578S25.223 33.328 18 33.328zm14.337-13.24c-.721-1.129-1.695-2.158-2.871-3.049a2.252 2.252 0 012.034-1.288 2.252 2.252 0 012.25 2.25c0 .945-.586 1.755-1.413 2.088z'/%3E%3C/svg%3E");
}

.i-pinterest::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23E6001A' viewBox='0 0 36 36'%3E%3Cpath d='M18 0C8.072 0 0 8.072 0 18s8.072 18 18 18 18-8.072 18-18S27.928 0 18 0zm0 33.595a15.67 15.67 0 01-4.62-.696c.633-1.034 1.589-2.735 1.941-4.085.19-.731.97-3.705.97-3.705.506.97 1.997 1.793 3.572 1.793 4.704 0 8.093-4.324 8.093-9.703 0-5.154-4.205-9.007-9.612-9.007-6.729 0-10.301 4.521-10.301 9.436 0 2.285 1.216 5.133 3.164 6.04.295.141.45.077.52-.211.049-.218.316-1.273.436-1.772a.482.482 0 00-.105-.45c-.647-.78-1.16-2.222-1.16-3.558 0-3.438 2.602-6.771 7.038-6.771 3.832 0 6.511 2.609 6.511 6.342 0 4.219-2.13 7.144-4.901 7.144-1.533 0-2.679-1.266-2.306-2.82.443-1.856 1.294-3.853 1.294-5.189 0-1.195-.64-2.194-1.976-2.194-1.568 0-2.82 1.617-2.82 3.79 0 1.378.464 2.313.464 2.313s-1.547 6.532-1.828 7.748c-.316 1.35-.19 3.241-.056 4.472C6.517 30.248 2.404 24.609 2.404 18c0-8.613 6.982-15.595 15.595-15.595S33.594 9.387 33.594 18s-6.982 15.595-15.595 15.595z'/%3E%3C/svg%3E");
}

.i-tumblr::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2335465C' viewBox='0 0 36 36'%3E%3Cpath d='M32.625 0H3.375A3.385 3.385 0 000 3.375v29.25A3.385 3.385 0 003.375 36h29.25A3.385 3.385 0 0036 32.625V3.375A3.385 3.385 0 0032.625 0zm-6.898 28.99c-1.062.499-2.025.851-2.883 1.055-.858.197-1.793.302-2.791.302-1.139 0-1.807-.141-2.679-.429s-1.617-.696-2.236-1.223c-.619-.534-1.041-1.097-1.28-1.695s-.359-1.463-.359-2.602v-8.712h-3.375V12.17c.977-.316 2.109-.773 2.798-1.364a6.7 6.7 0 001.673-2.13c.422-.83.71-1.884.872-3.164h3.53v5.738h5.752v4.437h-5.745v6.37c0 1.441-.021 2.271.134 2.679s.534.83.949 1.069c.548.33 1.181.492 1.884.492 1.259 0 2.51-.408 3.755-1.223v3.916z'/%3E%3C/svg%3E");
}

.i-unfeature_album::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23af0101' viewBox='-4 -4 40 40'%3E%3Cpath d='M31.708 25.708L22 16l9.708-9.708c.105-.105.18-.227.23-.357.132-.356.056-.77-.23-1.057L27.122.292c-.286-.286-.702-.36-1.057-.23-.13.05-.252.125-.357.23L16 9.998 6.292.29C6.187.188 6.065.11 5.935.064c-.356-.133-.77-.057-1.057.23L.292 4.877c-.286.286-.36.702-.23 1.057.05.13.125.252.23.357L10 16 .292 25.708c-.104.105-.18.227-.23.357-.132.355-.056.77.23 1.057l4.586 4.586c.286.286.702.36 1.057.23.13-.05.252-.125.357-.23L16 22l9.708 9.708c.105.105.227.18.357.23.356.132.77.056 1.057-.23l4.586-4.586c.286-.286.362-.702.23-1.057-.05-.13-.125-.252-.23-.357z'/%3E%3C/svg%3E");
}

.i-clipboard::before, .i-open::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 36 36'%3E%3Cpath d='M32.625 4.5H22.5a4.5 4.5 0 00-9 0H3.375c-.621 0-1.125.504-1.125 1.125v29.25c0 .621.504 1.125 1.125 1.125h29.25c.621 0 1.125-.504 1.125-1.125V5.625c0-.621-.504-1.125-1.125-1.125zM18 2.25a2.25 2.25 0 110 4.5 2.25 2.25 0 010-4.5zm13.5 31.5h-27v-27H9v3.375c0 .621.504 1.125 1.125 1.125h15.75c.621 0 1.125-.504 1.125-1.125V6.75h4.5v27z'/%3E%3Cpath d='M15.75 30.182l-7.216-8.341 2.057-2.057 5.159 4.034 9.659-8.534 2.057 2.057z'/%3E%3C/svg%3E");
}

.i-options::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 36 36'%3E%3Cpath d='M0 0h9v9H0zm13.5 2.25H36v4.5H13.5zM0 13.5h9v9H0zm13.5 2.25H36v4.5H13.5zM0 27h9v9H0zm13.5 2.25H36v4.5H13.5z'/%3E%3C/svg%3E");
}

.i-approveitem::before, .i-approve::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234CAF50' viewBox='0 0 32 32'%3E%3Cpath d='M27 4L12 19l-7-7-5 5 12 12L32 9z'/%3E%3C/svg%3E");
}

.lgtip::after {
	position: absolute;
	z-index: 999;
	bottom: auto;
	left: 5%;
	visibility: hidden;
	width: 90%;
	height: auto;
	content: attr(data-title);
	text-align: center;
	opacity: 0;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	background: #FAFAFA;
	box-shadow: var(--shadow-elevation-medium);
}

.lgtip:hover::after {
	top: 15px;
	visibility: visible;
	transition: .3s ease;
	transition-delay: 1s;
	opacity: 1;
}

/* -------------------------------------------------------
 *	$MEDIA
 * -------------------------------------------------------
 * Experimental media queries.
 */
@media screen and (max-width: 90em) {
}

/* This one does 1024 screens at default font size. */
@media screen and (max-width: 64em) {
	#album_sidebar {
		width: 180px;
	}

	#item_main {
		padding-right: 190px;
	}

	#levgal_tabs .lgalicon {
		display: none;
	}

	#levgal_tabs {
		margin-right: 190px;
		font-size: .9em;
	}

}

/* This one does 800 screens at default font size. */
@media screen and (max-width: 50em) {
	.lgalicon.i-rss {
		display: none;
	}

	.album_entry {
		min-width: 135px;
		margin: 2px;
	}

	.album_entry > .well {
		padding: 4px;
	}

	.album_hierarchy.level_0 {
		width: 99%;
	}

	.album_container > .album_featured,.album_container > .album_featured_compact {
		width: 49%;
	}
}

/* This one does 540 and smaller screens at default font size. */
@media screen and (max-width: 33.750em) {
}

/* This one does 480px screens at default font size. */
@media screen and (max-width: 30em) {
	#gallery_contain {
		display: flex;
		flex-direction: column;
	}

	#levgal_tabs {
		margin-right: 0;
	}

	#album_sidebar {
		float: none;
		order: 2;
		width: 98%;
		margin: 5px;
	}

	#item_main {
		margin: 0 5px;
		padding-right: 0;
		width: 98%;
	}

	.album_thumb {
		margin: 1px;
	}

	.album_thumbnail {
		float: left;
		margin: 0 5px;
	}

	.album_thumbnail img {
		width: 75px;
	}

	#album_sidebar .album_owner:after {
		display: block;
		clear: both;
		content: "";
	}

	#album_sidebar .album_owner {
		height: initial;
		margin-top: 0;
	}

	.album_family {
		column-count: 2;
	}

	.album_current {
		padding-left: 0;
	}

	.album_child {
		padding-left: 1em;
	}

	#item_picture, #item_audio_container, #item_generic {
		max-width: 100%;
	}

	.base_iframe {
		max-width: 100%;
	}
}

/* This one does 320px screens at default font size. */
@media screen and (max-width: 20em) {
}
